In [1]:
import pandas as pd

In [2]:
chunk_size = 5000 # represent for each row
file_path = 'C:/NewLaptopChenInfo/StonyBrookUniversityInfo/Courses/Fall2024/Data set/Trajctory/train/train.csv'

## read Chunk by chunk using pd.read_csv

In [9]:
df = pd.read_csv(file_path, chunksize= chunk_size)

But if we set chunksize = some number, the object is no more a DataFrame, but a TextFileReader

In [ ]:
for chunk in df:
    print(chunk)

## read by randomly picking samply

The second way of doing it is by reading all of our data, but only randomly choice 10% of it to human read it.

In [3]:
df = pd.read_csv(file_path)

In [ ]:
sample_df = df.sample(frac =0.1) #only read 10% for our data
sample_df.head()

## read by dask.dataframe

The thrid way is to Use Dask dataFrame
which is smailier to what we have now, but will not push all data in to our memorie.

In [5]:
import dask.dataframe as dd
import pyarrow

In [ ]:
print(pyarrow.__version__)

In [6]:
dask_df = dd.read_csv(file_path)
sampled_dask_df = dask_df.sample(frac=0.1).compute()

In [7]:
dask_df.head()

,TRIP_ID,CALL_TYPE,ORIGIN_CALL,ORIGIN_STAND,TAXI_ID,TIMESTAMP,DAY_TYPE,MISSING_DATA,POLYLINE
0,1372636858620000589,C,NaN,NaN,20000589,1372636858,A,False,"[[-8.618643,41.141412],[-8.618499,41.141376],[..."
1,1372637303620000596,B,NaN,7.0,20000596,1372637303,A,False,"[[-8.639847,41.159826],[-8.640351,41.159871],[..."
2,1372636951620000320,C,NaN,NaN,20000320,1372636951,A,False,"[[-8.612964,41.140359],[-8.613378,41.14035],[-..."
3,1372636854620000520,C,NaN,NaN,20000520,1372636854,A,False,"[[-8.574678,41.151951],[-8.574705,41.151942],[..."
4,1372637091620000337,C,NaN,NaN,20000337,1372637091,A,False,"[[-8.645994,41.18049],[-8.645949,41.180517],[-..."